.plan1{
    height: 20px;
    width: 20px;
}
.planhead{
    display: flex;
    gap: 20px;
    
    align-items: center;
}
.plan2{
    height: 10px;
    width: 10px;
}
.up_container_plan{
    display: flex;
}
.plannhead1{
    width: 100%;
    padding: 30px;
}
.container{
    margin-top: 30px;
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
}
.plantext{
    outline: none;
    border: none;
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    border-color: transparent;
}
.pn1{
    height: 20px;
    width: 20px;
}
.down_container_plan{
    display: flex;
    padding: 0px 16px;
    transition: height 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background-color: #FAF9F8;
    padding: 10px;
}
.plan_images{
    display: flex;
    gap: 20px;
}
.planbn{
    width: 50px;
    height: 20px;
    background-color:white;
    border: 1px solid;
    
    text-align: center
}
